body {
    background-image: url("images/background flowers.jp");
}

ul{
    font-style: italic;
}
article{
    width: 40%;
}
aside{
    background: chocolate;
}
img{
    width: 60%;
    height: 80p%;
}